@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Root Scope Variables */

:root {
	--hr-lines-color: rgba(255, 255, 255, 0.082);
	--icon-color: rgba(255, 255, 255, 0.788);
	--default-padding: 10px;
	--default-text-color: rgba(255, 255, 255, 0.808);
	--scrollbar-bg: rgb(1 2 3 / 40%);
}

body {
	font-size: 16px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../video/background.mp4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Poppins", sans-serif;
	color: var(--default-text-color);
}

main {
	height: 90vh;
	width: 90vw;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	position: relative;
}

/* Background */
.video-bg {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Navigation */

.logo {
	width: 120px;
	height: auto;
	color: white;
	margin-top: 10px;
}

header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	flex-direction: row;
	width: inherit;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: 1px rgba(255, 255, 255, 0.301) solid;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	justify-content: center;
	align-items: center;
}

/* Search Bar  */

.search-bar {
	border: 1px var(--hr-lines-color) solid;
	padding: 10px;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	width: 30%;
}

.search-bar input:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-bar input::placeholder {
	color: white;
	font-size: 0.9rem;
	text-align: center;
}

.search-bar input[type="text"] {
	border: none;
	outline: none;
	height: 100%;
	width: 80%;
	height: 100%;
	font-size: 13px;
	background-color: transparent;
	color: white;
	text-align: center;
	font-weight: 100;
}

.search-bar i {
	padding-right: 2px;
}
i {
	color: var(--icon-color);
}

.search-bar i:hover {
	cursor: pointer;
}

#bell {
	margin-right: 20px;
	font-size: 1.2rem;
}

#bell::after {
	content: "";
	text-align: center;
	background-color: blue;
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	right: 73px;
}

#avatar {
	width: 35px;
	height: auto;
	border-radius: 50%;
}

.container {
	width: 100%;
	height: 85%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

/* Favorites Container (1st Container Starts Here) */
.favorites {
	border-right: 1px var(--hr-lines-color) solid;
	padding: var(--default-padding);
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
}

.favorites h2 {
	font-weight: 300;
	font-size: 1rem;
}

.favorites-song {
	display: flex;
	width: inherit;
	height: 100%;
	border: 1px var(--hr-lines-color) solid;
	justify-content: space-between;
	border-radius: 50px;
	position: relative;
	align-items: center;
	transition: transform 0.1s ease-in;
	cursor: pointer;
}

.favorites-song:hover {
	transform: scale(1.04);
	background-color: rgba(16 18 27 / 40%);
}

.favorites-song img {
	border-radius: 50%;
	height: auto;
	width: 60px;
}

.text-content {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.song-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-right: 5px;
}

.dot {
	margin-right: 1rem;
	cursor: pointer;
}

.song-name {
	font-size: 0.7rem;
}

.song-date {
	font-size: 0.5rem;
}

.song-length {
	font-size: 0.7rem;
}

/* Main Content (Second Container Starts Here)*/

.main-content {
	grid-column: span 3;
	border-right: 1px var(--hr-lines-color) solid;
	padding: var(--default-padding);
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.top-banner {
	height: auto;
	width: 90%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
	margin-top: -10px;
}

.top-banner img {
	width: 100%;
	overflow: hidden;
	transition: transform 0.1s ease-in;
}

.top-banner img:hover {
	transform: scale(1.2);
}

.main-content h2 {
	font-weight: 400;
	padding-bottom: 10px;
	padding-top: 20px;
	font-size: 1.4rem;
}

/* Latest Release  */

.latest-release {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80%;
	height: inherit;
	gap: 10px;
	margin-top: 20px;
}

.latest-release-component img {
	height: 100px;
	width: auto;
}
.latest-release-component {
	border: 1px var(--hr-lines-color) solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.song-author {
	margin-top: -15px;
	margin-right: 90px;
}

.song-author h2 {
	margin-bottom: -20px;
	font-size: 1rem;
}

.song-author p {
	font-size: 0.8rem;
	font-weight: 300;
	padding-top: 10px;
}

.song-details {
	padding-right: 10px;
	text-align: center;
}

.song-details p {
	font-size: 0.8rem;
}

.song-details i {
	margin-right: 10px;
}

/* Artist  */

.artist {
	display: grid;
	width: 80%;
	grid-template-columns: repeat(9, 1fr);
	gap: 10px;
}

.artist img {
	width: 100px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.1s ease-in;
}

.artist img:hover {
	transform: scale(1.2);
}

/* Queue */

.queue {
	border-left: 1px var(--hr-lines-color) solid;
	padding: var(--default-padding);
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.queue h2 {
	font-weight: 300;
	font-size: 1rem;
}

.queue-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.see-more {
	margin: 0 auto;
	cursor: pointer;
}

/* Footer  */
footer {
	border-top: 1px var(--hr-lines-color) solid;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 100%;
}

/* Left Footer Bar */

.song-detail-box-footer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	margin-top: 10px;
	margin-left: 20px;
	gap: 20px;
}

.song-detail-box-footer img {
	height: 40px;
}

.song-detail-box-footer p,
h2 {
	padding-top: 3px;
	font-size: 0.6rem;
}

.song-detail-box-footer i {
	margin-top: 15px;
	font-size: 0.8rem;
	padding-left: 5px;
	cursor: pointer;
}

/* Center Control Music Footer */
.control-music-footer {
	grid-column: span 3;
	border-right: 1px black solid;
	height: 100%;
	width: 100%;
}

.control-music-icon {
	width: 20%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	margin-top: 10px;
}

.control-music-icon i {
	padding-right: 30px;
	font-size: 1.2rem;
	cursor: pointer;
}

.control-music-footer input {
	width: 50%;
	height: 2px;
	cursor: pointer;
}

.music-timing {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	justify-content: center;
	align-items: center;
	margin-top: 3px;
	gap: 10px;
}

.right-control-footer {
	border-right: 1px black solid;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-left: 50px;
}
.right-control-footer i {
	padding: 5px;
	font-size: 1rem;
	cursor: pointer;
}

/* Scroll Bar */
::-webkit-scrollbar {
	width: 6px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-bg);
	border-radius: 10px;
}

/* Media Quires */

/* L Laptops */

@media only screen and (max-width: 1440px) {
	.favorites-song {
		margin: 0;
		padding: 0;
		max-width: 100%;
		max-height: 100%;
		flex: column wrap;
	}
	.text-content {
		width: 50%;
		margin: 0;
		padding: 0;
	}

	.song-info {
		font-size: 0.5rem;
	}

	/* Artist */
	.artist {
		max-width: 100%;
	}
	.artist img {
		width: 150%;
	}
}
/* Laptops */

@media only screen and (max-width: 1024px) {
}

/* Tablet */
@media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}

	.favorites {
		display: none;
	}

	.search-bar {
		display: none;
	}
}

/* Smartphone */
@media only screen and (max-width: 428px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}
	.favorites {
		display: none;
	}

	.search-bar {
		display: none;
	}
	.main-content {
		display: none;
	}
	footer {
		background-color: black;
		position: sticky;
		top: 0px;
		margin-top: -50px;
		z-index: 1000;
	}
	.control-music-footer i {
		font-size: 0.5rem;
	}
	.right-control-footer {
		display: none;
	}

	.logo {
		width: 30%;
	}
}

/* Artist CSS Codes */

.main-content {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.artist-head {
	width: 80%;
	height: 50%;
	background-color: black;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.artist-head img {
	width: 36%;
}
.artist-head p {
	font-size: 0.7rem;
	justify-content: justify;
	width: 50%;
}
.artist-name {
	justify-self: flex-start;
	justify-content: space-between;
	justify-content: center;
	width: 100%;
	margin-top: -40px;
}

.artist-head h2 {
	font-size: 2rem;
}

.artist-description {
	font-weight: 200;
}

.artist-song-container {
	width: 80%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.artist-song-box div {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transition: background-color 0.1s ease-in;
	cursor: pointer;
}

.artist-song-box:hover {
	background-color: var(--scrollbar-bg);
}

.artist-song-box {
	border: 1px var(--hr-lines-color) solid;
	height: 11%;
	width: 100%;
	border-radius: 4px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	padding: 5px;
}

.artist-text-content {
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
}

.artist-text-content p {
	margin-top: -40px;
	font-weight: 300;
}
.icon-artist-songBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	font-weight: 300;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.artist-song-box img {
	height: 80%;
	border-radius: 50%;
}
